* {
    box-sizing: border-box;
}

main {
    padding: 20px;
}

body {
    text-align: center;
    background-color:#fff;
}

h1 {
    font-size: 55px;
}

.nav {
    display: 'flex';
    justify-content: "center";
}
.button, select {

    background-color: #003bde;
    border-radius: 5px;
    border: 1px double #003bde;
    color: #fff;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    margin: 5px;
  }

h2 {
    text-align: left;
    padding-left: 30px;
    left: 200px;
    flex: 3;
}


li:hover {
    background-color: #003bde;
    color:#fff;
}

li {
    background-color: #eee;
    color: black;
    margin-top: 2px;
    margin: 0 auto;
    max-width: 500px;
    padding: 5px;
    text-align: center;
    position: relative;
    border: 2px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
    list-style-type: none;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.error-container {
    margin: 0 auto;
    width: 500px;
    background-color: rgb(218, 86, 86);
}

.rating {
    flex: 3;
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

input {
    margin: 0 auto;
}

.input-form {
  padding: 7px;
  border-radius: 7px;
  
}
.buttons {
    padding: 20px;
}

.button-link {
    color: #fff
}

.a {
    color: #fff;
}

.buttons button {
    width: 150px;
}

legend {
    font-size: 30px;
}

.bookmark-item {
    padding: 20px;
    display: flex;
}

.bookmark-item-expanded {
    display: flex;
    flex-direction: column;
}

.buttonD {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}